<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="" >
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kanban Board</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>
function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
  let a = today.getFullYear();
  let b = today.getMonth();
  let c = today.getDate();
  const d = new Date();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML = a+"-"+b+"-"+c+" "+h+":"+m+":"+s;
  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>
<style>

.row {
  float: left;
  padding: 10px;
  margin: 4px;
  display: block;
  background-color: mediumaquamarine;
  border-style: groove;
  border: 2px solid red;
  border-radius: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: cyan;
  padding: 5px;
  margin: 5px;
  line-height: 25px;
  border-style: groove;
  border: 2px red;
  border-radius: 5px
}

ul {
  list-style-type: none;
  background-color:none;
}

#task_link{
	text-decoration: none;
}
</style>

</head>

<body  onload="startTime()">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand">Kanban Board</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Welcome, {{p.email}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user/delete/{{p.id}}">Delete user</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/summary">Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/complete">Tasks completed</a>
        </li>
		<li>
			<a href="/user/{{p.id}}">test api</a>
		</li>
      <!--<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Change Password" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>--> 
      </ul>     
      <div class="navbar-brand" id="txt"></div>
      <div class="nav-item"><a href="/logout" class="nav-link" title="Bye {{p.email}}"><button type="button" class="btn-close" aria-label="Close"></button></a></div>
    </div>
  </div>
</nav>
	<div> 
	<div>
	{% for list in lists%}
	<div class="row" style="text-align: center;">
		<h2>{{list.name}}</h2>
		{{list.desc}}<br>
			<a href="/list/{{list.id}}/update" title="Update {{list.name}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
				</svg>
			</a>
			<a href="/list/{{list.id}}/delete" title="Delete {{list.name}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="crimson" class="bi bi-trash3" viewBox="0 0 16 16"><path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
				</svg>
			</a>
			<br><br>
		{% for n in tasks %}
		{% if list.id == n.list_id%}
		<div class="card text-bg-primary mb-3" align="center">
				<div class="">
					<div class="card-header"title="Update">
						<h5>
							<a id="task_link" href="/task/{{n.id}}/update" style="color:ghostwhite;" title="Update {{n.title}}">
								{{n.title}}
							</a>
						</h5>
					</div>
					<div class="card-body">
						{{n.content}}
						{% if 'n.deadline' == 'today'%}
							<div title="Deadline" style="color:yellow">{{n.deadline}}</div><br>
						{% else %}
							<div title="Deadline">{{n.deadline}}</div><br>	
						{% endif %}
							
									<a href="/task/{{n.id}}/update" title="Update {{n.title}}">
														<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-pen" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/></svg></a>

									<a href="/task/{{n.id}}/complete" title="Mark as complete" onclick="return confirm('Are you sure?')">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgreen" class="bi bi-check2-square" viewBox="0 0 16 16">
											<path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
											<path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
										</svg>
									</a>
								
									<a href="/task/{{n.id}}/delete" title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="crimson" class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
											</svg>
									</a>
								
					</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="card text-bg-primary mb-3" align="center"><a href="/{{list.id}}/task/create" id="task_link" style='color:yellow'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg> Add Task</a></div>
	</div>
	{% endfor %}
	{% if len < 5 %}
	<div class="row" align="middle">
		<h2>
			<a href="/list/create" id="task_link">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
					<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
				</svg> Add List
			</a>
		</h2>
	</div>

	</div>
	{% endif %}
</body>
</html>